@CHARSET "ISO-8859-1";
@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');

body {
	text-align: center;
	font-family: 'Poppins', sans-serif;
  	font-size: 12px;
  	background: #eee;
  	color:#666;
}

tbody > tr:hover{
	background-color: #86d1d0;
}


.nav-link:hover, .nav-item:hover {
	color: #e0cecc;
}


#error-message {
	text-align: center;
	color: red;
}

.fa-trash:hover {
	cursor: pointer;
}